.nav-button{
   visibility: hidden;
   display: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type:none;
    position: absolute;
    width: 95vw;
    
}

.navLink {
    margin: 18px;
    letter-spacing: 3px;
    font-family: Arial;
    font-size: 12px;
}

.logout {
    background-color: transparent;
    border: none;
    margin: 10px;
    letter-spacing: 3px;
    font-family: Arial;
    font-size: 12px;
    color: white;
}

@media only screen and(max-width: 375px){
    .nav-button{
       
       visibility: visible;
        color: white;
        width: 359px;
        border: 1px solid white;
        background-color: rgb(4, 95, 109);
        margin-left: 0;
        margin-top: 0;
        display: block;
        height: 30px;;
        margin-bottom: 0;
        font-family: Arial;
        font-size: 15px;
        position: fixed;
        z-index: 10;
        letter-spacing: 3px;
       
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: rgb(4, 95, 109);
        margin-top: 30px;
        margin-bottom: 0;
        position: fixed;
        width: 319px;
        z-index: 10;
    }

    .navLink {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: -15px;
        letter-spacing: 3px;
        font-family: Arial;
        font-size: 15px;
  
    }

    .logout {
        letter-spacing: 3px;
        font-family: Arial;
        font-size: 15px;
        margin-top:0;
        margin-left: -18px;
    }
    

}