$buttonColor: orange;
$titleSize: 30px;
$cardHeight: 260px;
$cardWidth: 260px;

.header-img{
    width: 100vw;
    height: 680px;
}

.section-container{
    position: absolute;
    z-index: 2;
    top: 66%;
    left: 0;
    right: 0;
    width: 65%;
    height: 175px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;


}

.section-container h3{
    text-align: center;
    
}

.search-bar select {
 width: 150px;
}

.search-bar {
   padding: 20px;
 
}

.search-bar input, button, select {
    height: 30px;
    text-align: center;
    margin: 15px;
}
.search-bar input {
    width: 300px;
}

.search-bar button {
    width: 150px;
}

.search-bar input {
    border-radius: 3px;
}
.search-bar button {
    background-color: $buttonColor;
    border-radius: 12px;
    border-color: $buttonColor;
    color: white;
    font-weight: 800;
}



.popular-section {
    margin-top: 145px;
    text-align: center;
    font-size: $titleSize;
    text-transform: uppercase;
}

.popular-line {
    width: 50px;
    height: 3px;
    border: none;
    background-color: $buttonColor;
    margin-bottom: 60px;
}

.popular-line-2 {
    width: 50px;
    height: 3px;
    border: none;
    margin-top: 100px;
    background-color: $buttonColor;
    margin-bottom: 60px;
}

.popular-box{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px;
  
   
 }

a{
    text-decoration: none;
    color: white;
}

 .popular-box-2{ 
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  
 }

 .container-2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 }

 .card {
     width: 300px;
     height: 370px;
 }

 .card-2 {
    width: 280px;
    height: 200px;
  
}


 .card-info {
     background-color: white;
     width: 260px;
     height: 360px;
     font-size: 12px;
     padding-top: 10px;
     padding-left: 15px;
     padding-right: 15px;
     letter-spacing: .7px;

 }

 .card-info-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 160px;
    width: 250px;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: .7px;
}


 .card-name {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 20px;
 }

 .card-subtitle{
   text-transform: uppercase;

 }


 .card-button {
    background-color: $buttonColor;
    border-radius: 20px;
    width: 200px;
    color: white;
    font-weight: 800;
    margin-top: 5px;
    margin-left: 0;

}

footer {
    height: 200px;
    width: 100vw;
    background-color:  rgb(129, 180, 179);
}



@media screen and (max-width: 1200px ) {
    .search-bar input {
        width: 200px;
    }
    
    .search-bar button {
        width: 100px;
    }
}



@media screen and (max-width: 700px ) {
    .popular-box{
        
    }

}

@media screen and (max-width: 905px ) {
    .search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .section-container {
        height: 300px;
        
    }

    .popular-section {
        margin-top: 200px;
    }

    .card {
        width: 280px;
        height: 200px;
    }

    .card-info {
    
        height: 260px;
        width: 250px;
    
       
   
    }


}

