$buttonColor: orange;
$titleSize: 30px;
$cardHeight: 260px;
$cardWidth: 260px;

.header-img{
    width: 100vw;
    height: 680px;
}

.section-container{
    position: absolute;
    z-index: 2;
    top: 66%;
    left: 200px;
    width: 65%;
    height: 175px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;

}

.section-container h3{
    text-align: center;
    
}
.search-bar {
   padding: 20px;
 
}

.search-bar input, button {
    height: 30px;
    text-align: center;
    margin: 15px;
}
.search-bar input {
    width: 300px;
}

.search-bar button {
    width: 200px;
}

.search-bar input {
    border-radius: 3px;
}
.search-bar button {
    background-color: $buttonColor;
    border-radius: 12px;
    border-color: $buttonColor;
    color: white;
    font-weight: 800;
}

.popular-section {
    margin-top: 175px;
    text-align: center;
    font-size: $titleSize;
    text-transform: uppercase;
}

.popular-line {
    width: 50px;
    height: 3px;
    border: none;
    background-color: $buttonColor;
    margin-bottom: 60px;
}

.container {
    margin :0 auto;
    width: 860px;
    height: 1200ox;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.popular-box{ 
width: $cardWidth;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 40px;
}

.photo-box {
    border: .2px solid white;
    width: $cardWidth;
    height: $cardHeight;
}

.card {
    height: $cardHeight;
    width: $cardWidth;
    border-radius: 15px 1px 1px 1px;
   

}

.card-name {
   text-transform: uppercase;
   font-size: 15px;

}

.card-button {
    background-color: $buttonColor;
    border-radius: 20px 1px 1px 20px;
    border: 1px solid $buttonColor;
    width: 90px;
    position: absolute;
    color:white;
    font-weight: 800;
    left: 135px;
    
    
    
}

.card-info {
   border: 1px solid white;
   background-color: white;
   width: 200px;
   height: 130px;
   padding-top: 5px;
   padding-left: 20px;
   padding-right: 20px;
}


