.section-explore{
    // position: relative;
    margin: 0;
    background-color:  rgba(235, 235, 235, 0.578);
}

.rockss{
    width: 100vw;
    height: 600px;
    margin: 0;
}

.search-explore {
    position: absolute;
    justify-content: center;
    border: solid 1px white;
    margin-left: 20%;
    top: 300px;
    width: 800px;
    height: 100px;
}

.title-explore{
    font-family: Arial;
    text-align: center;
    color: white;
    top: 200px;
    left: 40%;
    letter-spacing: 3px;
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

.search-bar {
    display: flex;
}

.divider-info {
    width: 100vw;
    height: 200px;
    background-color: rgb(4, 95, 109);
    margin-top: 0;
}



.red {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.red-red {
    margin-bottom: 70px;
    margin-left: 30px;
}

.explore-btn {
    color: white;
    background-color: orange;
    border: none;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: Arial;
    text-align: center;
    width: 250px;
}


.Destination{
    width: 280px;
    height: 240px;
  
}
.location {
    width: 30px;
    height: 30px;
}

.info {
   
    background-color: white;
    width: 280px;
    font-size: 12px;
    letter-spacing: .7px;

}
p {
    background-color: white;
}

