.section-explore{
    // position: relative;
    margin: 0;
    background-color:  rgba(235, 235, 235, 0.578);
}

.rockss{
    width: 100%;
    height: 600px;
    margin: 0;
}

.search-explore {
    position: absolute;
    border: solid 1px white;
    margin-top: -25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 800px;
    height: 100px;
}

.title-explore{
    font-family: Arial;
    text-align: center;
    color: white;
    top: 180px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    letter-spacing: 3px;
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

.search-bar {
    display: flex;
}

.divider-info {
    width: 100%;
    height: 200px;
    background-color: rgb(4, 95, 109);
    margin-top: 0;
}



.red {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.red-red {
    margin-bottom: 70px;
    margin-left: 30px;
}

.explore-btn {
    color: white;
    background-color: orange;
    border: none;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: Arial;
    text-align: center;
    width: 200px;
    border-radius: 20px;
}


.Destination{
    width: 280px;
    height: 240px;
  
}
.location {
    width: 30px;
    height: 30px;
}

.info {
    background-color: white;
    width: 280px;
    font-size: 12px;
    letter-spacing: .7px;

}

p {
    background-color: white;
}

@media only screen and(max-width: 800px){
    .rockss {
        height: 500px;
        margin-bottom: 0;
    }

    .search-explore {
        margin-top: -30%;
        width: 100%;
        height: 100px;
    }
    .divider-info {
        width: 100vw;
        height: 100px;
        background-color: rgb(4, 95, 109);
        margin-top: 0;
    }

   .search-bar input {
       width: 150px;
   }
 
}

@media only screen and(max-width: 375px){
    .rockss {
        height: 300px;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .title-explore{
       margin-top: 140px;
       font-weight: 600;
       font-size: 22px;
       z-index: 5;
    }
    
    .search-explore {
       height: 210px;
       background-color: lightgrey;
       position: relative;

    }
    .search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
     }

    
    .search-bar input, button, select {
        height: 30px;
        text-align: center;
        margin: 5px;
        
    }

    .search-bar select {
        width: 300px;
        background: white;
        border-radius: 0;
        color: grey;
        text-indent: 40%;
    }

    .search-bar input {
        width: 295px;
        color: grey;
        height: 25px;
        border: none;

    }

    .search-bar button {
        width: 300px;
    }

    .search-bar input {
        border-radius: none;
    }

     .divider-info {
        width: 100%;
        
    }

}