$main-background: #FCFAF7;

// dashboard container 
.dashboard-head {
    display: flex;
    width: 100vw;
}

// dashboard header image 
.road {
    height: 400px;
    width: 80%;
}

// dashboard header information 

.dashboard-box {
    border: 1px solid rgb(4, 95, 109);
    height: 398px;
    width: 300px;
    background-color: rgb(4, 95, 109);
}

.dashboard-info{
    display:flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 40%;
    z-index: 3;
    position: absolute;
}
.dashboard-title{
    font-family: Arial;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dashboard-p{
    background-color: transparent;
    font-family: Arial;
    color: white;
    margin-bottom: 0;
    font-size: 20px;
    width: 500px;

}
.dashboard-button{
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    margin-top: 0;
    background-color: orange;
    border-radius: 12px;
    border-color: orange;
    color: white;
    margin-top: 10px;
    font-weight: 800;
}


// dashboard user favorites list  of selected destinations

// user favorite destinations container 
.userList{
    display: flex;
    width: 1000px;
    margin-left: 200px;
    margin-top: 100px;
}

// user favorite destinations title and description

.destination-box{
    width: 300px;
    height: 300px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    
}

.destination-title{
    font-family: Arial;
    color: orange;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 0;
}

.destination-p{
    color: gray;
    font-family: Arial;
    font-size: 15px;
}

.destinations-button {
    height: 30px;
    text-transform: uppercase;
    width: 150px;
    background-color: orange;
    border-radius: 12px;
    border-color: orange;
    color: white;
    font-weight: 800;
}

// user favorite destinations carousel and images

.dashboard-destinations{
    display: flex;
    width: 100%;
    overflow: scroll;
    overflow-y: scroll;
    position: relative;
    
}
::-webkit-scrollbar { 
    display: none; 
};

.dashboard-slider {
    width: 200px;
    height: 200px;
    margin: 10px;
   
}


// user favorites destinations tarsh icon 

.slider-trash{
   position: absolute;
    margin-top: 15px;
    margin-left: -50px;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 25px;
    background-color: #FFA500;
    z-index: 7;
    border: none;
}


.slider-place{
    height: 30px;
    position: absolute;
    margin-top: -12px;
    margin-left: -30px;
}

.slider-location{
    color: white;
    font-family: Arial;
    position: absolute;
    width: 200px;
    margin-left: -240px;
    margin-top: 180px;
    border: none;
    background-color: transparent;
}

// destinations hotel information 
.destination-info{
    display: flex;
    margin-left: 200px;
    margin-right: 75px;
    margin-bottom: 100px;
    font-family: 'Arial';
}

.destination-info-rating{
    background-color: orange;
    color: white;
    width: 40px;
    height: 20px;
    padding: 5px;
    position: absolute;
    text-align: center;
    font-weight: 600px;
}

.destination-slider-info{
    width: 500px;
    height: 400px;
}

.destination-info-title{
    color: orange;
    margin: 0;
}

.destination-info-p{
    color: gray;
    margin: 0;
}

.card-p{
    font-size: 15px;
    color: gray;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 22px;
}


.hotel-img {
    width: 200px;
    height: 110px;;
    margin-right: 20px
}


.book-btn {
    background-color: orange;
    color: white;
    width: 420px;
    margin-top: 10px;
    margin-left: 0;
    font-family: Arial;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    border-color: orange;
    font-weight: 800;


}


