
.img-upload{
  height: 250px;
  width: 200px;
 
  }
  
  
  .picture {
    height: 250px;
    width: 200px;
  }

.picture-frame{
  height: 250px;
  width: 200px;
  margin-bottom: 80px;
}

.trips-info {
  margin-top: 60px;
  margin-left: 50px;
  display: flex;
}
