.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.img-upload{
  height: 300px;
  width: 300px;
  }
  
  
  .picture {
    height: 300px;
    width: 300px;
  }