$buttonColor: orange;
$buttonColorTwo: #1C5385;

.signin-container{
    height: 100vh;
    padding-top: 100px;
}

.signin-title{
padding: 26px;
font-size: 25px;
text-transform: uppercase;
}

.signin-form{
    text-align: center;
    background-color: white;
    margin: 0 auto;
    width: 50%;
    height: 60%;
  
}

.signin-form input {
    padding: 20px;
    margin: 5px;
    width: 300px;
}
.signin-button{
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
    width: 300px;
    background-color: $buttonColor;
    border-radius: 12px;
    border-color: $buttonColor;
    color: white;
    font-weight: 800;
}

.create-button{
    height: 30px;
    text-transform: uppercase; 
    text-align: center;
    margin: 5px;
    width: 300px;
    background-color: $buttonColorTwo;
    border-radius: 12px;
    border-color: $buttonColorTwo;
    color: white;
    font-weight: 800;
}

