$main-background: #FCFAF7;

.App {
  margin: 0;
  background-color: $main-background;

}

ul {
  position: absolute;
   top: 0;
   left: 0;
   right:0;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding: 25px;
   font-weight: 600;
 
 }
 
 li {
   padding: 25px;
 }

 

 .logout {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px white solid;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 600;
  font-size: 15px;
  color: white;
 }